In [1]:
import os
import pandas as pd

if str(os.getcwdb()[-3:]).split("'")[1] != 'src':
    for _ in range(2):
        os.chdir(os.path.dirname(os.getcwdb()))

# Consideraciones

- En este "notebook" se trabajan los "dataframes" que relacionan cada imagen con sus características con tal de obtener un único "dataframe" que contenga los datos necesarios para que, una vez identificada la imagen introducida para la predicción, el otro modelo ("XGB"), basado en el "dataframe" original de precios, sea capaz de predecir el precio

- Las imágenes y sus datos se obtienen aquí: https://www.kaggle.com/datasets/harshitlakhani/natural-diamonds-prices-images

# Unión

- Como es más cómodo trabajar con un único "dataframe", se fusionan todos los de los diamantes por características

In [2]:
df_cushion = pd.read_csv(r'data\raw\images_data\data_cushion.csv')
df_emerald = pd.read_csv(r'data\raw\images_data\data_emerald.csv')
df_heart = pd.read_csv(r'data\raw\images_data\data_heart.csv')
df_marquise = pd.read_csv(r'data\raw\images_data\data_marquise.csv')
df_oval = pd.read_csv(r'data\raw\images_data\data_oval.csv')
df_pear = pd.read_csv(r'data\raw\images_data\data_pear.csv')
df_princess = pd.read_csv(r'data\raw\images_data\data_princess.csv')
df_round = pd.read_csv(r'data\raw\images_data\data_round.csv')

df_diamonds = pd.read_csv(r'data\processed\competition\train_processed.csv')

In [3]:
df_cushion.head()

,Id,Shape,Weight,Clarity,Colour,Cut,Polish,Symmetry,Fluorescence,Messurements,Price
0,1638147,CUSHION,0.55,SI2,E,EX,EX,VG,N,5.05-4.35×2.94,"1,378.65"
1,1630155,CUSHION,0.50,VVS1,FANCY,EX,EX,VG,F,4.60-4.31×2.92,"1,379.74"
2,1612606,CUSHION,0.51,VS2,H,EX,EX,VG,N,4.71-4.35×2.94,"1,380.19"
3,1638140,CUSHION,0.50,VS2,H,EX,EX,VG,N,4.91-4.26×2.88,"1,380.61"
4,1536093,CUSHION,0.53,SI1,D,EX,VG,VG,N,4.70-4.46×3.01,"1,383.13"

In [4]:
dataframes_characteristics_list = [df_cushion, 
                                   df_emerald,
                                   df_heart,
                                   df_marquise,
                                   df_oval,
                                   df_pear,
                                   df_princess,
                                   df_round
                                   ]

df_characteristics = pd.concat(dataframes_characteristics_list)

df_characteristics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6339 entries, 0 to 2055
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            6339 non-null   object
 1   Shape         6339 non-null   object
 2   Weight        6339 non-null   float64
 3   Clarity       6319 non-null   object
 4   Colour        6339 non-null   object
 5   Cut           6337 non-null   object
 6   Polish        6338 non-null   object
 7   Symmetry      6332 non-null   object
 8   Fluorescence  6337 non-null   object
 9   Messurements  6339 non-null   object
 10  Price         6339 non-null   object
dtypes: float64(1), object(10)
memory usage: 594.3+ KB

# Adaptación

- Se adapta el "dataframe" resultante para que sea idéntico al que se pasará al modelo "xgboost" para su entreno

In [5]:
df_diamonds.head()

,id,weight (carat),cut quality,color quality,clarity quality,depth (percentage),table (percentage),lenght (millimeters),width (millimeters),depth (millimeters),price
0,0,0.30,3.0,6.0,1.0,62.4,58.0,4.31,4.28,2.68,6.353
1,1,1.01,4.0,5.0,5.0,62.7,56.0,6.42,6.46,4.04,9.183
2,2,0.72,4.0,4.0,3.0,61.8,59.0,5.71,5.74,3.54,7.983
3,3,1.08,2.0,3.0,1.0,63.2,57.0,6.54,6.50,4.12,8.371
4,4,0.36,3.0,3.0,4.0,62.3,59.0,4.50,4.55,2.82,6.588

## Índice

In [6]:
df_characteristics = df_characteristics.set_index('Id')

df_characteristics.head()

,Shape,Weight,Clarity,Colour,Cut,Polish,Symmetry,Fluorescence,Messurements,Price
Id,,,,,,,,,,
1638147,CUSHION,0.55,SI2,E,EX,EX,VG,N,5.05-4.35×2.94,"1,378.65"
1630155,CUSHION,0.50,VVS1,FANCY,EX,EX,VG,F,4.60-4.31×2.92,"1,379.74"
1612606,CUSHION,0.51,VS2,H,EX,EX,VG,N,4.71-4.35×2.94,"1,380.19"
1638140,CUSHION,0.50,VS2,H,EX,EX,VG,N,4.91-4.26×2.88,"1,380.61"
1536093,CUSHION,0.53,SI1,D,EX,VG,VG,N,4.70-4.46×3.01,"1,383.13"

## Borrado de columnas

- Ya existe una columna de precio, pero se borrará para usar el otro modelo con tal de predecirlo, a partir de la imagen que se introduzca, con mayor exactitud, ya que el otro modelo se entrena con datos que este primero no ve y tiene ocho veces los diamantes que constan en este. Tratar de predecir el precio directamente de la imagen podría dar lugar a un mayor margen de error

- Se ha visto en "Unión" que hay nulos, además de columnas que no sirven. No queda más remedio que descartarlos

In [7]:
df_characteristics = df_characteristics.drop(columns=['Polish', 'Symmetry', 'Fluorescence', 'Price', 'Shape'])

df_characteristics.head()

         Weight Clarity Colour Cut    Messurements
Id
1638147    0.55     SI2      E  EX  5.05-4.35×2.94
1630155    0.50    VVS1  FANCY  EX  4.60-4.31×2.92
1612606    0.51     VS2      H  EX  4.71-4.35×2.94
1638140    0.50     VS2      H  EX  4.91-4.26×2.88
1536093    0.53     SI1      D  EX  4.70-4.46×3.01

In [8]:
df_characteristics = df_characteristics.dropna()

df_characteristics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6317 entries, 1638147 to 1630512
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Weight        6317 non-null   float64
 1   Clarity       6317 non-null   object
 2   Colour        6317 non-null   object
 3   Cut           6317 non-null   object
 4   Messurements  6317 non-null   object
dtypes: float64(1), object(4)
memory usage: 296.1+ KB

## Columna "Cut"

- Se pasa la columna a números

- No hay el equivalente a "Premium" del "dataframe" de predicción de precios, así que se ignora ese número

In [9]:
df_characteristics['Cut'].unique()

array(['EX', 'VG', 'GD', 'F'], dtype=object)

In [10]:
df_characteristics.loc[:, 'Cut'] = df_characteristics['Cut'].apply(lambda x: 0 if x == 'F' 
                                                                    else 1 if x == 'GD'
                                                                    else 2 if x == 'VG'
                                                                    else 4
                                                                    )
df_characteristics.loc[:, 'Cut'] = df_characteristics['Cut'].astype(float)

df_characteristics['Cut'].unique()

C:\Users\Roger\AppData\Local\Temp\ipykernel_8388\1055745526.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_characteristics.loc[:, 'Cut'] = df_characteristics['Cut'].apply(lambda x: 0 if x == 'F'
C:\Users\Roger\AppData\Local\Temp\ipykernel_8388\1055745526.py:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_characteristics.loc[:, 'Cut'] = df_characteristics['Cut'].astype(float)

array([4., 2., 1., 0.])

## Columna "Colour"

- Hay muchas más posibilidades de color que en el "dataframe" de precios, así que se descartan

In [11]:
df_characteristics['Colour'].unique()

array(['E', 'FANCY', 'H', 'D', 'I', 'M', 'K', 'W-X', 'Y-Z', 'N', 'J', 'F',
       'L', 'G', 'O-P', 'S-T', 'U-V', 'W', 'Q-R', 'O'], dtype=object)

In [12]:
df_characteristics = df_characteristics.drop(df_characteristics[df_characteristics['Colour'] == 'FANCY'].index
                                                | df_characteristics[df_characteristics['Colour'] == 'M'].index
                                                | df_characteristics[df_characteristics['Colour'] == 'K'].index
                                                | df_characteristics[df_characteristics['Colour'] == 'W-X'].index
                                                | df_characteristics[df_characteristics['Colour'] == 'Y-Z'].index
                                                | df_characteristics[df_characteristics['Colour'] == 'N'].index
                                                | df_characteristics[df_characteristics['Colour'] == 'L'].index
                                                | df_characteristics[df_characteristics['Colour'] == 'O-P'].index
                                                | df_characteristics[df_characteristics['Colour'] == 'S-T'].index
                                                | df_characteristics[df_characteristics['Colour'] == 'U-V'].index
                                                | df_characteristics[df_characteristics['Colour'] == 'W'].index
                                                | df_characteristics[df_characteristics['Colour'] == 'Q-R'].index
                                                | df_characteristics[df_characteristics['Colour'] == 'O'].index                                                                                  
                                                )

df_characteristics['Colour'].unique()

C:\Users\Roger\AppData\Local\Temp\ipykernel_8388\3476073297.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  df_characteristics = df_characteristics.drop(df_characteristics[df_characteristics['Colour'] == 'FANCY'].index
C:\Users\Roger\AppData\Local\Temp\ipykernel_8388\3476073297.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  df_characteristics = df_characteristics.drop(df_characteristics[df_characteristics['Colour'] == 'FANCY'].index
C:\Users\Roger\AppData\Local\Temp\ipykernel_8388\3476073297.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  df_characteristics = df_characteristics.drop(df_characteristics[df_characteristics['Colour'] == 'FANCY'].index
C:\Users\Roger\AppData\Local\Temp\ipykernel_8388\3476073297.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  df_characteristics = df_characteristics.drop(df_characteristics[df_characteristics['Colour'] == 'FANCY'].index
C:\Users\Roger\AppData\Local\Temp\ipykernel_8388\3476073297.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  df_characteristics = df_characteristics.drop(df_characteristics[df_characteristics['Colour'] == 'FANCY'].index
C:\Users\Roger\AppData\Local\Temp\ipykernel_8388\3476073297.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  df_characteristics = df_characteristics.drop(df_characteristics[df_characteristics['Colour'] == 'FANCY'].index
C:\Users\Roger\AppData\Local\Temp\ipykernel_8388\3476073297.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  df_characteristics = df_characteristics.drop(df_characteristics[df_characteristics['Colour'] == 'FANCY'].index

array(['E', 'H', 'D', 'I', 'J', 'F', 'G'], dtype=object)

In [13]:
df_characteristics.loc[:, 'Colour'] = df_characteristics['Colour'].apply(lambda x: 0 if x == 'J'
                                                else 1 if x == 'I' 
                                                else 2 if x == 'H' 
                                                else 3 if x == 'G'
                                                else 4 if x == 'F'
                                                else 5 if x == 'E'
                                                else 6)
df_characteristics.loc[:, 'Colour'] = df_characteristics['Colour'].astype(float)

df_characteristics['Colour'].unique()

C:\Users\Roger\AppData\Local\Temp\ipykernel_8388\1919486356.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_characteristics.loc[:, 'Colour'] = df_characteristics['Colour'].apply(lambda x: 0 if x == 'J'
C:\Users\Roger\AppData\Local\Temp\ipykernel_8388\1919486356.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_characteristics.loc[:, 'Colour'] = df_characteristics['Colour'].astype(float)

array([5., 2., 6., 1., 0., 4., 3.])

## Columna "Clarity"

- No existe la claridad "FL" en el "dataframe" de precios, así que se descarta

In [14]:
df_characteristics['Clarity'].unique()

array(['SI2', 'VS2', 'SI1', 'VVS1', 'VVS2', 'VS1', 'IF', 'I1', 'FL'],
      dtype=object)

In [15]:
df_characteristics = df_characteristics.drop(df_characteristics[df_characteristics['Clarity'] == 'FL'].index)

df_characteristics['Clarity'].unique()

array(['SI2', 'VS2', 'SI1', 'VVS1', 'VVS2', 'VS1', 'IF', 'I1'],
      dtype=object)

In [16]:
df_characteristics.loc[:, 'Clarity'] = df_characteristics['Clarity'].apply(lambda x: 0 if x == 'I1'
                                                                            else 1 if x == 'SI2'
                                                                            else 2 if x == 'SI1'
                                                                            else 3 if x == 'VS2'
                                                                            else 4 if x == 'VS1'
                                                                            else 5 if x == 'VVS2'
                                                                            else 6 if x == 'VVS1'
                                                                            else 7
                                                                            )
df_characteristics.loc[:, 'Clarity'] = df_characteristics['Clarity'].astype(float)

df_characteristics['Clarity'].unique()

C:\Users\Roger\AppData\Local\Temp\ipykernel_8388\3580306968.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_characteristics.loc[:, 'Clarity'] = df_characteristics['Clarity'].apply(lambda x: 0 if x == 'I1'
C:\Users\Roger\AppData\Local\Temp\ipykernel_8388\3580306968.py:10: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_characteristics.loc[:, 'Clarity'] = df_characteristics['Clarity'].astype(float)

array([1., 3., 2., 6., 5., 4., 7., 0.])

## Columna "Messurements"

- Hay que dividirla en las 3 correspondientes del "dataframe" de precios

- Con los datos resultantes, hay que calcular la columna de "depth (percentage)" mediante la operación aprendida en el EDA

In [17]:
df_characteristics['Messurements'].unique()

array(['5.05-4.35×2.94', '4.71-4.35×2.94', '4.91-4.26×2.88', ...,
       '5.00-5.04×3.18', '4.93-4.96×3.19', '5.09-5.13×3.12'], dtype=object)

In [18]:
df_characteristics['lenght (millimeters)'] =  df_characteristics['Messurements'].str.extract('^([0-9]?.?[0-9]+)')

df_characteristics['lenght (millimeters)'].unique()

array(['5.05', '4.71', '4.91', '4.70', '4.76', '5.16', '4.48', '4.55',
       '4.89', '4.69', '4.78', '4.64', '4.63', '4.53', '5.13', '4.67',
       '4.62', '5.19', '5.01', '4.57', '4.96', '5.28', '5.34', '4.49',
       '4.77', '4.95', '4.66', '3.95', '4.25', '4.97', '4.98', '4.59',
       '4.44', '4.93', '4.60', '4.92', '4.84', '5.18', '4.73', '4.94',
       '4.56', '4.74', '4.99', '4.86', '4.61', '5.03', '5.06', '5.08',
       '4.52', '4.43', '4.82', '4.58', '5.55', '4.87', '5.20', '4.72',
       '4.47', '5.02', '4.88', '4.75', '5.22', '5.23', '5.17', '5.21',
       '4.81', '4.68', '5.04', '5.53', '5.24', '4.45', '4.39', '5.44',
       '4.51', '5.35', '5.00', '5.52', '4.90', '5.15', '4.50', '4.65',
       '5.10', '4.54', '5.11', '5.29', '4.83', '4.32', '4.22', '5.46',
       '5.62', '5.32', '5.36', '5.30', '5.54', '5.37', '5.73', '5.64',
       '5.51', '5.67', '5.60', '5.80', '5.83', '5.43', '5.45', '5.88',
       '6.06', '5.78', '5.26', '5.09', '5.56', '5.42', '5.58', '5.12',
       '5.69', '5.75', '5.41', '5.70', '5.40', '5.33', '5.14', '5.25',
       '5.72', '5.31', '5.86', '5.49', '5.47', '5.57', '5.85', '5.07',
       '5.27', '5.93', '5.48', '6.13', '5.38', '5.68', '5.76', '6.37',
       '5.61', '5.84', '5.65', '5.77', '6.08', '5.79', '6.04', '6.36',
       '5.50', '5.82', '6.34', '5.95', '5.66', '6.99', '6.68', '5.90',
       '6.32', '6.03', '6.27', '5.39', '5.74', '5.63', '6.10', '6.43',
       '5.71', '5.92', '5.97', '5.94', '6.55', '5.99', '6.50', '6.22',
       '6.72', '6.01', '6.15', '6.05', '6.11', '6.00', '5.89', '6.02',
       '6.24', '6.19', '6.20', '6.66', '5.98', '5.91', '7.59', '6.12',
       '7.07', '6.17', '5.59', '6.28', '6.38', '7.05', '6.25', '5.81',
       '5.87', '6.35', '6.14', '6.07', '6.29', '6.23', '5.96', '6.30',
       '6.42', '6.51', '6.21', '6.45', '6.09', '6.40', '6.47', '6.18',
       '6.33', '6.26', '7.06', '6.81', '7.19', '6.88', '7.87', '6.56',
       '6.69', '6.71', '6.54', '6.64', '7.35', '7.43', '6.39', '6.84',
       '7.16', '6.60', '6.77', '6.49', '6.46', '6.61', '7.32', '8.29',
       '8.61', '8.33', '8.52', '9.34', '9.42', '9.21', '9.63', '6.52',
       '6.75', '7.28', '7.00', '7.04', '6.67', '8.25', '6.53', '6.95',
       '7.78', '7.25', '7.33', '7.39', '7.31', '7.97', '7.73', '7.34',
       '7.03', '7.66', '7.36', '7.44', '6.63', '7.13', '7.48', '7.10',
       '7.93', '7.86', '7.58', '9.14', '8.21', '8.94', '7.64', '8.93',
       '6.98', '7.09', '7.45', '6.62', '6.90', '7.41', '7.38', '8.15',
       '8.14', '7.71', '7.62', '4.35', '4.40', '4.41', '4.79', '4.46',
       '4.42', '4.80', '4.85', '4.27', '3.96', '3.94', '4.07', '4.16',
       '4.23', '3.97', '4.04', '4.26', '3.99', '4.09', '4.12', '4.13',
       '4.15', '4.30', '3.93', '4.05', '4.24', '4.08', '4.03', '4.29',
       '3.92', '4.38', '4.19', '3.98', '4.20', '3.88', '4.37', '4.33',
       '3.90', '3.86', '4.10', '4.01', '4.02', '4.21', '4.11', '4.14',
       '3.84', '4.17', '4.36', '4.28', '4.31', '3.73', '4.18', '4.06',
       '4.00', '3.91', '3.87', '3.89', '4.34', '3.83', '3.85', '8.09',
       '9.12', '8.01', '8.56', '8.71', '8.80', '8.38', '8.43', '8.54',
       '8.49', '8.83', '7.60', '7.82', '8.82', '8.05', '8.20', '9.26',
       '9.10', '9.08', '7.65', '7.50', '7.68', '7.88', '7.08', '6.97',
       '7.69', '7.11', '7.56', '6.44', '6.57', '7.52', '6.96', '8.26',
       '7.94', '6.31', '6.65', '6.79', '7.01', '6.48', '6.73', '6.82',
       '6.58', '6.78', '6.80', '6.89', '6.70', '7.02', '6.93', '6.87',
       '7.53', '7.37', '6.85', '6.74', '6.92', '6.83', '7.23', '6.16',
       '6.86', '6.41', '7.15', '7.27', '7.18', '6.76', '7.24', '7.63',
       '7.26', '7.20', '7.47', '7.90', '7.30', '7.54', '7.55', '7.17',
       '8.13', '7.40', '8.44', '7.29', '8.00', '7.51', '7.61', '7.95',
       '9.43', '9.55', '9.53', '9.38', '10', '9.94', '11', '9.60', '8.98',
       '8.50', '8.39', '8.11', '9.98', '8.28', '8.53', '8.16', '7.91',
       '8.74', '9.22', '9.70', '9.25', '9.18', '9.61', '9.67', '9.81',
       '9.49', '9.85', '9.75', '7.74', '7.79', '7.21', '8.65', '8.45',
       '7.42', '9.84', '7.67', '7.22', '7.84', '7.12', '7.46', '8.55',
       '8.46', '9.58', '9.03', '8.08', '8.57', '9.68', '7.80', '8.72',
       '9.39', '8.19', '7.83', '8.77', '8.30', '9.01', '8.37', '9.33',
       '8.59', '8.34', '8.99', '8.17', '12', '9.71', '9.99', '9.48',
       '8.90', '8.27', '8.63', '8.60', '8.84', '8.79', '7.96', '8.10',
       '8.32', '8.64', '9.06', '8.36', '8.92', '8.35', '9.07', '8.85',
       '9.45', '6.59', '8.03', '8.70', '9.13', '9.00', '9.24', '9.30',
       '9.44', '8.22', '8.40', '8.87', '9.46', '9.23', '8.62', '9.05',
       '9.97', '9.62', '8.23', '9.76', '3.76', '3.80', '3.79', '3.74',
       '3.66', '3.78', '3.63', '3.72', '3.81', '3.77', '3.71', '3.82',
       '3.75', '3.67', '3.54', '3.69', '3.64', '3.59'], dtype=object)

In [19]:
df_characteristics['width (millimeters)'] =  df_characteristics['Messurements'].str.extract('[\sX\-]+([0-9]?.?[0-9]+)[\sxX×]+')

df_characteristics['width (millimeters)'].unique()

array(['4.35', '4.26', '4.46', '4.42', '4.21', '4.17', '4.38', '4.50',
       '4.24', '4.52', '4.48', '4.33', '4.43', '4.47', '4.12', '4.28',
       '4.40', '4.45', '4.29', '4.20', '4.81', '4.27', '4.32', '4.34',
       '4.00', '3.89', '3.98', '3.78', '4.06', '4.53', '4.25', '4.16',
       '4.13', '4.37', '4.49', '4.31', '4.39', '4.19', '4.51', '4.23',
       '4.22', '4.79', '4.44', '4.09', '4.36', '4.86', '4.18', '4.95',
       '4.72', '4.78', '4.83', '4.62', '4.41', '4.14', '4.84', '4.67',
       '4.30', '4.73', '4.58', '4.54', '3.92', '3.84', '3.97', '4.60',
       '4.11', '4.96', '5.01', '4.55', '5.11', '4.90', '4.10', '5.14',
       '5.16', '4.94', '4.82', '5.08', '5.26', '5.06', '4.98', '4.63',
       '4.93', '5.10', '4.71', '5.04', '5.00', '4.68', '5.12', '4.89',
       '4.88', '5.03', '4.87', '5.52', '5.30', '5.15', '4.80', '4.66',
       '4.85', '5.29', '4.74', '5.02', '5.05', '4.99', '4.91', '5.19',
       '5.47', '4.77', '5.23', '5.13', '4.59', '5.18', '5.09', '4.75',
       '4.65', '5.27', '5.42', '5.33', '4.97', '5.22', '5.79', '5.36',
       '5.39', '5.07', '4.64', '4.56', '5.21', '4.69', '4.92', '5.38',
       '5.41', '5.54', '5.44', '6.58', '6.51', '5.35', '5.50', '5.48',
       '5.56', '5.40', '5.32', '5.43', '5.51', '6.33', '5.69', '5.49',
       '5.17', '6.37', '5.46', '4.76', '5.57', '5.77', '5.37', '5.66',
       '5.25', '4.70', '5.53', '5.91', '6.85', '6.42', '5.20', '5.31',
       '5.68', '5.34', '6.59', '5.70', '5.84', '6.03', '5.63', '5.62',
       '5.67', '5.71', '5.60', '5.93', '5.28', '5.81', '5.61', '5.24',
       '5.78', '5.45', '6.30', '5.55', '6.05', '5.82', '5.58', '4.61',
       '7.01', '5.72', '5.94', '6.74', '5.87', '6.20', '6.52', '6.18',
       '5.59', '6.32', '6.06', '6.46', '5.65', '5.92', '5.74', '5.75',
       '6.38', '6.08', '7.08', '5.97', '5.85', '5.99', '6.19', '6.25',
       '5.88', '5.64', '6.63', '5.73', '8.07', '7.83', '8.03', '8.35',
       '8.70', '8.98', '8.59', '8.61', '8.38', '6.31', '5.90', '6.79',
       '6.82', '6.35', '6.60', '5.86', '6.76', '7.07', '7.32', '6.97',
       '7.22', '6.93', '6.70', '6.81', '7.03', '6.72', '6.65', '6.78',
       '7.27', '6.56', '5.96', '6.36', '7.09', '6.88', '7.85', '7.67',
       '7.86', '7.81', '7.37', '6.87', '6.54', '6.61', '6.89', '6.75',
       '6.90', '6.53', '7.15', '7.19', '7.38', '6.64', '7.59', '3.16',
       '3.19', '3.06', '3.27', '3.28', '3.22', '3.26', '3.25', '3.21',
       '3.50', '3.17', '3.23', '3.38', '3.31', '3.41', '3.35', '3.33',
       '3.32', '3.24', '3.79', '3.12', '3.34', '3.14', '3.10', '3.01',
       '3.30', '3.13', '3.49', '3.37', '3.09', '3.68', '3.15', '3.36',
       '3.40', '3.20', '3.48', '3.18', '3.45', '3.46', '3.59', '3.08',
       '3.39', '3.44', '3.29', '3.75', '3.63', '3.65', '3.11', '3.73',
       '3.66', '3.47', '3.74', '3.58', '3.80', '3.77', '3.53', '3.76',
       '3.70', '3.54', '3.42', '3.52', '3.64', '3.51', '3.67', '3.83',
       '3.60', '3.56', '3.62', '3.81', '3.57', '3.86', '3.93', '3.87',
       '3.61', '3.71', '3.82', '3.43', '3.85', '3.69', '3.55', '3.94',
       '3.88', '3.90', '3.95', '4.57', '4.15', '4.04', '4.01', '4.03',
       '3.72', '3.91', '4.02', '4.05', '3.96', '5.80', '5.76', '6.26',
       '7.00', '6.44', '7.11', '7.04', '6.40', '6.34', '5.89', '6.21',
       '6.04', '6.83', '6.69', '5.98', '6.28', '6.95', '6.92', '6.43',
       '6.94', '6.13', '6.48', '6.73', '6.16', '6.01', '6.96', '7.47',
       '6.67', '7.68', '6.24', '7.29', '6.10', '6.02', '6.77', '6.39',
       '4.08', '3.99', '4.07', '4.1'], dtype=object)

In [20]:
df_characteristics['depth (millimeters)'] =  df_characteristics['Messurements'].str.extract('[\sX\-]+[0-9]?.?[0-9]+[\sxX×]+([0-9]?.?[0-9]+)')

df_characteristics['depth (millimeters)'].unique()

array(['2.94', '2.88', '3.01', '2.99', '2.85', '2.90', '3.04', '3.02',
       '2.84', '2.83', '3.03', '2.92', '3.00', '2.78', '2.79', '2.87',
       '3.26', '2.86', '2.68', '2.64', '2.53', '2.74', '3.06', '2.98',
       '2.80', '2.97', '2.81', '2.95', '2.89', '3.05', '2.93', '3.07',
       '2.96', '2.82', '3.25', '2.73', '3.30', '3.33', '3.29', '3.28',
       '3.13', '3.34', '3.20', '3.12', '3.22', '2.91', '3.08', '3.27',
       '2.56', '3.11', '3.21', '3.37', '3.44', '3.09', '3.42', '3.49',
       '3.47', '3.41', '3.45', '3.56', '3.43', '3.38', '3.17', '3.31',
       '3.35', '3.18', '3.59', '3.50', '3.52', '3.16', '3.40', '3.15',
       '3.55', '3.51', '3.32', '3.14', '3.46', '3.48', '3.54', '3.71',
       '3.24', '3.36', '3.66', '3.53', '3.69', '3.68', '3.39', '3.58',
       '3.19', '3.83', '3.67', '3.57', '3.23', '3.72', '3.70', '3.63',
       '3.76', '3.64', '4.16', '4.39', '3.62', '3.75', '3.74', '3.65',
       '3.61', '3.77', '3.79', '4.02', '3.97', '4.52', '3.60', '3.92',
       '3.95', '3.90', '3.78', '3.85', '4.00', '4.12', '4.27', '3.82',
       '3.99', '3.73', '4.29', '4.01', '3.86', '3.91', '4.08', '3.80',
       '3.84', '3.81', '3.93', '4.25', '4.09', '4.11', '4.05', '4.40',
       '3.98', '4.38', '4.31', '4.24', '3.96', '4.44', '4.28', '4.32',
       '4.13', '4.30', '4.23', '4.06', '4.04', '4.20', '4.70', '4.21',
       '3.94', '4.07', '4.42', '5.47', '5.30', '5.32', '5.82', '5.76',
       '6.07', '5.84', '5.83', '4.51', '4.37', '4.43', '4.53', '4.76',
       '4.91', '4.72', '4.96', '4.68', '4.57', '4.74', '4.77', '4.82',
       '4.59', '4.15', '4.61', '4.46', '4.69', '5.49', '5.07', '5.20',
       '5.13', '4.94', '4.71', '4.64', '4.50', '4.55', '4.36', '4.98',
       '4.79', '5.00', '5.12', '4.99', '2.15', '2.03', '2.09', '2.22',
       '2.25', '2.21', '2.17', '2.13', '2.19', '2.24', '2.08', '2.20',
       '2.33', '2.18', '2.07', '2.14', '2.27', '2.59', '1.89', '1.93',
       '2.12', '2.29', '2.10', '2.04', '2.23', '1.97', '2.05', '2.02',
       '1.88', '2.11', '2.38', '2.16', '2.41', '2.46', '1.99', '2.30',
       '2.06', '2.26', '2.35', '2.00', '2.31', '1.94', '2.60', '2.28',
       '1.92', '2.01', '1.90', '2.42', '2.34', '2.44', '2.45', '2.40',
       '2.37', '2.32', '2.52', '2.70', '2.36', '2.61', '2.39', '2.47',
       '2.50', '2.65', '2.75', '2.58', '2.43', '2.49', '2.57', '2.66',
       '2.51', '2.69', '2.55', '2.62', '2.54', '2.72', '2.67', '2.48',
       '2.76', '2.71', '2.63', '2.77', '1.96', '1.98', '3.89', '4.41',
       '4.03', '4.17', '5.04', '3.10'], dtype=object)

In [21]:
df_characteristics[df_characteristics['depth (millimeters)'].isna()]

Empty DataFrame
Columns: [Weight, Clarity, Colour, Cut, Messurements, lenght (millimeters), width (millimeters), depth (millimeters)]
Index: []

In [22]:
df_characteristics = df_characteristics.drop(columns='Messurements')

df_characteristics.head()

,Weight,Clarity,Colour,Cut,lenght (millimeters),width (millimeters),depth (millimeters)
Id,,,,,,,
1638147,0.55,1.0,5.0,4.0,5.05,4.35,2.94
1612606,0.51,3.0,2.0,4.0,4.71,4.35,2.94
1638140,0.50,3.0,2.0,4.0,4.91,4.26,2.88
1536093,0.53,2.0,6.0,4.0,4.70,4.46,3.01
1643527,0.52,6.0,1.0,4.0,4.76,4.42,2.99

In [23]:
df_characteristics = df_characteristics.apply(pd.to_numeric)

df_characteristics['depth (percentage)'] = (df_characteristics['depth (millimeters)'] / ((df_characteristics['lenght (millimeters)'] + df_characteristics['width (millimeters)']) / 2)) * 100

df_characteristics['depth (percentage)'].unique()

array([62.55319149, 64.90066225, 62.81352236, ..., 59.90338164,
       60.50583658, 63.34661355])

## Nuevos nombres

In [24]:
df_characteristics = df_characteristics.rename(columns={'Weight': 'weight (carat)',
                                                        'Cut': 'cut quality',
                                                        'Colour': 'color quality',
                                                        'Clarity': 'clarity quality',
                                                        }
                                                )

df_characteristics.head()

,weight (carat),clarity quality,color quality,cut quality,lenght (millimeters),width (millimeters),depth (millimeters),depth (percentage)
Id,,,,,,,,
1638147,0.55,1.0,5.0,4.0,5.05,4.35,2.94,62.553191
1612606,0.51,3.0,2.0,4.0,4.71,4.35,2.94,64.900662
1638140,0.50,3.0,2.0,4.0,4.91,4.26,2.88,62.813522
1536093,0.53,2.0,6.0,4.0,4.70,4.46,3.01,65.720524
1643527,0.52,6.0,1.0,4.0,4.76,4.42,2.99,65.141612

## Cambio de orden

In [25]:
df_characteristics = df_characteristics[['weight (carat)', 'cut quality', 'color quality', 'clarity quality', 'depth (percentage)', 'lenght (millimeters)', 'width (millimeters)', 'depth (millimeters)']]

df_characteristics.head()

,weight (carat),cut quality,color quality,clarity quality,depth (percentage),lenght (millimeters),width (millimeters),depth (millimeters)
Id,,,,,,,,
1638147,0.55,4.0,5.0,1.0,62.553191,5.05,4.35,2.94
1612606,0.51,4.0,2.0,3.0,64.900662,4.71,4.35,2.94
1638140,0.50,4.0,2.0,3.0,62.813522,4.91,4.26,2.88
1536093,0.53,4.0,6.0,2.0,65.720524,4.70,4.46,3.01
1643527,0.52,4.0,1.0,6.0,65.141612,4.76,4.42,2.99

## Eliminación de duplicados

In [26]:
df_characteristics = df_characteristics.drop_duplicates()

# Exportación

- Se guarda el nuevo "dataframe" como "csv" listo para el modelaje

- Como no hay columna "table (percentage)", no queda más remedio que reentrenar el modelo "XGBoost" sin esa columna. En ese sentido, se usa el "dataset" original en lugar del de competición para un mejor resultado

In [27]:
df_characteristics.to_csv(r'data\processed\images_data_processed.csv', index='Id')