In [14]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

df_diamonds = pd.read_csv(r'..\data\processed\processed_diamonds(competition)_1.csv').set_index('id')

df_train = df_diamonds[df_diamonds['price (dollars)'].notnull()]
X_pred = df_diamonds[df_diamonds['price (dollars)'].isnull()].drop(columns='price (dollars)')

X = df_train.drop(columns='price (dollars)')
y = df_train['price (dollars)']

regression = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=43)
regression.fit(X_train, y_train)
y_pred = regression.predict(X_test)

print(f'r2 score: {r2_score(y_test, y_pred)}')

X_pred.head()

r2 score: 0.9788440698271971

,weight (carat),cut quality,color quality,clarity quality,depth (percentage),table (percentage),lenght (millimeters),width (millimeters),depth (millimeters)
id,,,,,,,,,
0,-1.139434,0.5,-1.0,-0.5,-0.988460,0.260162,1.488400,1.501853,0.993252
1,0.215111,1.0,-1.0,-0.5,0.910145,1.186312,1.916923,1.908060,1.449269
2,0.506818,1.0,1.5,-0.5,0.198168,0.723237,2.021548,2.028148,1.547563
3,-0.287682,1.0,1.5,-1.0,-0.909351,-0.665988,1.781709,1.774952,1.278152
4,0.405465,0.0,1.0,-1.0,2.334099,-1.129063,1.982380,1.967112,1.541159

In [15]:
predictions_submit = regression.predict(X_pred)
predictions_submit

array([6.08134621, 8.60436279, 9.55786073, ..., 6.3373967 , 8.64085576,
       8.05643296])

In [16]:
submission = pd.DataFrame({'id': X_pred.index, 'price': predictions_submit})

submission.to_csv(r'..\data\processed\submission_1.csv', index=False)

submission.head()

   id     price
0   0  6.081346
1   1  8.604363
2   2  9.557861
3   3  7.983492
4   4  9.161685